@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Barlow:wght@400;500&family=Cedarville+Cursive&family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Atkinson Hyperlegible', sans-serif;

}




 #main{
  width: 100vw;
  height: 100vh;
  background-color: #384153;
  overflow: hidden;
 }

 #main>h1{
position: relative;
left: 50%;
top: 5%;
z-index: 12;
color: rgb(145, 145, 145);
transform: translate(-50%, 0);

 width: 15%;
 }

 #container{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #080d16;
  overflow-x: hidden !important;
 }

 #newstask{
  position: relative;
  width: 100%;
  height: 12%;
  border-radius: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.154);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.301);
 }

 #tasklist{
  width: 100%;
 min-height: 100vh;


 }

 #createlist{
  width: 57vw;
  height: 7vh;
  position: relative;
  top: 50%;
  color: #fff !important;
  left: 14vw !important;
  transform: translate(0, -50%);
  border: 2px solid rgba(83, 83, 255, 0.582);
  border-radius: 500px;
  outline: none;
  background-color: #212836;
  padding-left: 30px;
  border: 2px solid rgba(255, 255, 255, 0.76) !important;

 }

 .line{
  position: relative;
  width: 75%;
  height: 3%;
  display: none;
  top: 56%;
  left: 11%;
  z-index: 12;
  transform: translate(-50, -50%);
  background-color: #fff;
 }


 .ri-delete-bin-5-fill{
  color: #BE1A48;
 }
 #add{
  padding: 2.2vh 3.5vw;
  position: relative;
   top: 50%;
   font-weight: 600 !important;
   right: -15vw !important;
  transform: translate(0, -50%);
  border-radius: 500px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.76) !important;
  background-color: #384153 !important;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.767);
  cursor: pointer;
 }

::placeholder{
  color: rgba(255, 255, 255, 0.527);
  letter-spacing: 1.5px;
}

.task{

  width: 80vw;
  height: 10vh;
  background-color: #212836;
  box-shadow: 1px 1px  8px rgba(0, 0, 0, 0.160) ;
  left: 48%;
  color: #fff;
  position: relative;
  transform: translate(-50%, 0);
  margin-top: 5vh;
  border-radius: 10px;


}

#taskname{
  font-size: 3.5vw;
  position: relative;
  top: 32%;
  transform: translate(0, -50%);
  left: 8VW;
}



#taskname>#point{
  position: relative;
  left: -5vw;
  top: 0.8vh;

}



.task:hover{
  background-color: rgba(160, 198, 255, 0.527);
}

/* .task:hover .ri-delete-bin-5-fill{
  display: initial;
} */

.icon{
  position: relative;
 top: 15%;
 left:90%;
 transform: translate(-50%, -50%);
  border-radius: 20px;
  height: 80%;
  width: 15%;
  cursor: pointer;

}

.icon>.ri-delete-bin-5-fill{
  position: absolute;
  font-size: 4vw;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#extra>i{
  position: relative;
  top: 15vh;
  left: 43%;
  transform: translate(-50%, -50%);
  font-size: 12vw;
  color: rgba(0, 0, 0, 0.151);
}


@media screen and (min-width: 1024px) and (max-width: 1950px){

  #newstask{
    width: 80vw;
    position: relative;
     left: 50%;
     transform: translate(-50%, 0);
     top: 8vh;
     border: none;

  }

  #tasklist{
    position: relative;
    top: 2vh;

  }

  .task{
    top: 10vh;
    left: 51%;
    width: 55vw;
  }

  #taskname{
    font-size: 2vw;
  }

  .icon>.ri-delete-bin-5-fill{
    font-size: 2vw;
  }

  #createlist{
    width: 40vw;
   left: 11vw;
  }
  #add{
    padding: 2.2vh 3vw;
    position: relative;
     top: 50%;
     right: -12vw;
    transform: translate(0, -50%);
    border: 2px solid #fff;
    border-radius: 500px;
    color: #fff;
    background-color: rgba(83, 83, 255, 0.829);
    cursor: pointer;
  }
}